body{
  margin: 0px;
  background-color: rgb(0, 0, 0);
}
header {
  background: #171717;
  padding: 20px 40px 20px 40px;
  width: 1080x;
  height: 50px;
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: 'Times New Roman';
}
.headbox{
  height: 50px;
  margin-top: -20px;
}
.logo {
  float: left;
}
.title {
  height: 30px;
  font-size: 30px;
}
#left{
  float: left;
  width: 950px;
  height: 530px;
  margin-top: 0px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 20px;
  background-image: url('/static/steth.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px 700px;
}
#left_article {
  font-family: 'Times New Roman', Times, serif ;
  width: 500px;
  height: 480px;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 450px;
  font-size: 20px;
}
.days_input{
  padding: 0px 0px 0px 80px;
}
input[type=text] {
  width: 150px;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 2px solid rgb(209, 205, 205);
  border-radius: 4px;

}
input[type=text]:focus {
  border: 3px solid rgb(250, 232, 70);
}
.button{
  background-color: #171717;
  border-radius: 8px;
  border: 2px solid #333333;
  color: white;
  padding: 11px 28px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 10px;
  cursor: pointer;
}
.button:hover {
background-color: rgb(228, 228, 228);
color: rgb(0, 0, 0);
box-shadow: 0 12px 16px 0 rgba(219, 219, 219, 0.24), 0 17px 50px 0 rgba(197, 197, 197, 0.19);
}
#right{
  float: right;
  margin-right: 30px;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 10px;
}
.video {
  width: 400px;
}
video{
  border: none;
  width: 460px;
}
.container {
  height: 240px;
  width: 455px;
}
#medi {
  height: 100px;
  margin: 50px 0px 0px 200px;
}
#right_article{
  padding: 10px 0px 0px 0px;
  font-size: 18px;
  color: white;
  font-style: italic;
}
footer{
  background: #171717;
  padding: 10px 10px 40px 40px;
  width: 1080x;
  height: 30px;
  margin-top: 570px;
  color: white;
  font-family:'Times New Roman'; 
}
.footbox{
  margin-top: 20px;
  background-color: lightcoral;
}
#by {
  float: left;
  margin-left: 100px;
}
#names {
  height: 20px;
  float: left;
}
a:link{
  color: white;
}
a:visited {
  color: white;
}
a:hover{
  color: rgb(170, 146, 255);
}
#for {
  float: right;
  margin-right: 20px;
}
#logo2 {
  float: right;
  margin-right: 100px; 
}